# CORS Headers (add this)
<ifModule mod_headers.c>
    Header always set Access-Control-Allow-Origin: "*"
    Header always set Access-Control-Allow-Methods "GET,PUT,POST,DELETE,OPTIONS"
    Header always set Access-Control-Allow-Headers "Content-Type, Authorization, Content-Length, X-Requested-With"
</ifModule>

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /ilcanale/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /ilcanale/index.php [L]
</IfModule>

# END WordPress


